clear text
 - Issue with editing validated entry. Try writing 000.000.000.000 then change it to 000.000.3.000
	if you try removing all the zeros from the third section, it will prevent it. Workaround: delete 2 0s then write 3, then 	 delete the last 0
sudo privilege
	import sys
sC default script search
output reporting
	python-nmap documentation
asynchronous scan

For Abdulaziz
- Give frames a border, tie it to the IP Address


VM's from vulnhub
https://www.vulnhub.com/entry/mr-robot-1,151/


Options for avoiding admin login

X - Hardcoding password - Bad practice, security flaw, per PC basis
X - Run as admin from terminal - Not a solution, requires password to run as admin
X -Sudoers - Per PC solition

? - Secondary program/installer?
? - sh script, use chmod?
? - capabilities? nmap specific, use similar commands to get what we need without running into root privilege
? - Polkit? Linux specific, may be a solution
